# Программирование  для всех (основы работы с Python)

*Алла Тамбовцева, НИУ ВШЭ*

## Переменные и типы данных

* Переменные: определение и название
* Переменные: множественное присваивание
* Типы данных в Python
* Приведение типов
* Базовые операции с различными типами

### Переменные: определение и название

На переменную можно смотреть как на контейнер, в который можно «положить» любой объект, чтобы потом удобным образом обратиться к нему по короткому названию. Например, мы можем сохранить в переменные `x` и `y` числа 2 и 3, а затем, не переписывая сами числа, производить с ними любые манипуляции:

In [1]:
x = 2
y = 3

In [2]:
x ** y / (x + y)

1.6

In [3]:
print(x, 2 * x)

2 4

In [4]:
print("Сумма:", x + y)

Сумма: 5

Python, в отличие от многих низкоуровневых языков программирования (C, C++, Java) – язык с *динамической типизацией*, то есть он сам распознаёт, что мы сохраняем в переменную: число, целое число, текст, список чисел... Поэтому при создании переменной нам не нужно указывать её тип. В примерах выше Python автоматически понял, что в `x` и `y` сохранены целые числа. То же будет, например, с текстом:

In [5]:
word = "hello"
print(word)

hello

In [6]:
word * word # текст нельзя умножать на текст (текстовый тип - str)

TypeError: can't multiply sequence by non-int of type 'str'

Значения переменных мы можем обновлять – изменить значение и сохранить в переменную с тем же названием.

In [7]:
x = x + 1
print(x)

3

In [8]:
y = y * 2
print(y)

6

>**Дополнительно.** в Python также можно использовать операторы для инкремента и декремента: `x += 1` вместо обычного `x = x + 1`, `x -= 1` вместо `x = x - 1`, или `y *= 2` вместо `y = y * 2`.

Названия переменных в Python могут быть почти любыми. Три общих правила: название переменной не должно начинаться с цифры, в названии не должно быть пробелов, название не должно совпадать со служебными (зарезервированными) словами в Python. Список зарезервированных слов можно узнать так:

In [9]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Обычно рекомендуется давать переменным осмысленные названия: если речь идёт о доходе, называть переменную не `x`, а `income`, если речь идёт о данных по преступности, сохранять таблицу в переменную `crimes`, и так далее.

### Переменные: множественное присваивание

У Python есть интересная особенность – возможность присваивать значения нескольким переменным одновременно, множественное присваивание (*multiple assignment*). Например, мы можем следующим образом записать сразу значения двух переменных `a` и `b`:

In [10]:
a, b = 0, 1
print(a)
print(b)

0
1

Это возможно благодаря тому, что если Python сталкивается с перечнем элементов через запятую, он объединяет их в структуру данных – кортеж (перечень значений в круглых скобках, будем обсуждать позже):

In [11]:
0, 1

(0, 1)

Поэтому при присваивании он понимает, что первый элемент кортежа нужно записать в `a`, в второй – в `b`. Что интересно, множественное присваивание позволяет менять значения переменных местами:

In [12]:
a = 2
b = 5
a, b = b, a
print(a, b)

5 2

### Типы данных в Python

Типы данных:

* *integer (int)*: целочисленный тип, целые числа;
* *float*: вещественный тип, числа с плавающей точкой, они же дробные;
* *string (str)*: строковый или текстовый тип;
* *boolean (bool)*: булев или логический тип, значения `True` и `False`.

С целочисленным типом и числами с плавающей точкой мы уже познакомились. Посмотрим, как определить тип переменной:

In [13]:
x = 2.34
type(x)

float

In [14]:
y = 2
type(y)

int

Или всё вместе через `print()`:

In [15]:
print(type(x), type(y))

<class 'float'> <class 'int'>

Чтобы создать переменную строкового типа, нужны кавычки, причём использовать можно как двойные, так и одинарные:

In [16]:
text = "hello"
text2 = 'hello'
type(text)

str

А вот для логического типа кавычки, наоборот, не требуются:

In [17]:
yes = True
no = False
print(yes, no)

True False

В чистом виде логический тип используется редко, но он позволяет формулировать и комбинировать условия, а также проверять их выполнение на данных (например, если нужно отфильтровать строки в таблице, для которых верны оба условия одновременно).

### Приведение типов

Иногда требуется преобразовать тип переменной, например, из числа с плавающей точкой сделать целое число. Зачем это бывает нужно? Для удобства и для более корректной выдачи результатов. Например, у нас есть база данных по респондентам, в которой указан их год рождения, и мы хотим добавить столбец с возрастом респондентов (числом полных лет). Из-за того, что кто-то ввёл год в виде 1993.0, возраст при вычислениях тоже получится числом с плавающей точкой — 25.0. Так как мы знаем, что возраст всегда будет целым, чтобы дробная часть не смущала, можно привести все значения к целочисленному типу.  

Функции для изменения типа переменных называются так же, как сами типы или их сокращённые названия (если таковые предусмотрены). Рассмотрим приведение типов на примерах.

Превратим возраст с нулевой дробной частью в целое число:

In [18]:
age = 25.0
age2 = int(age)
print(age2)

25

Стоит помнить, что при превращении дробного числа с ненулевой дробной частью в целое арифметического округления не происходит, дробная часть просто отбрасывается:

In [19]:
int(34.7)

34

In [20]:
int(35.5)

35

Перевод целого числа в дробное выглядит логично – к числу добавляется дробная нулевая часть:

In [21]:
float(23)

23.0

Целое число или дробное число можно также превратить в строку:

In [22]:
str(2)

'2'

In [23]:
str(56.7)

'56.7'

И наоборот – строку сделать числом:

In [24]:
int("23")

23

In [25]:
float("23.9")

23.9

Если преобразование невозможно, Python выдаст ошибку (а точнее, исключение) `ValueError`, намекая, что мы применяем функцию к неверному значению:

In [26]:
float('23,56')

ValueError: could not convert string to float: '23,56'

Так как запятая в Python не воспринимается как десятичный разделитель (в качестве разделителя используется точка), превратить строку '23,56' в число не получится, нужно будет сначала заменить запятую на точку. Как работать со строками, мы обсудим позже, но если интересно, можно сделать следующее: создать любую строковую переменную, а потом после её названия поставить точку и нажать *Tab*. Так же, как и в случае с модулем `math`, выпадет список всех возможных методов, которые можно применять к строке.

### Базовые операции с различными типами

В Python активно реализуется перегрузка операторов, которая выражается в том, что одни и те же операторы могут выполнять разные задачи в зависимости от типа данных, к которым они применяются. Если говорить совсем формально и залезать в терминологию объектно-ориентированного программирования, для Python характерен полиморфизм – разное поведение операций и методов на разных классах. О классах мы будем говорить позже, а пока посмотрим на примеры такого поведения.

In [27]:
one = "abc"
two = "def"

one + two

'abcdef'

По идее, при исполнении кода выше мы должны были получить ошибку, нельзя применять сложение не к числам. Но нет: операция сложения в Python на строках тоже имеет смысл – она обеспечивает конкатенацию (склеивание) строк. А можно ли умножать строку на число? Давайте проверим:

In [28]:
one * 2

'abcabc'

Как выяснилось, можно. Здесь операция умножения работает как в математике: умножить число на число – то же самое что сложить это число необходимое количество раз. А складывать строки (то есть склеивать) Python умеет.
Но, конечно, аналогии не могут продолжаться бесконечно:

In [29]:
# возведение строки в степень – уже перебор
one ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'